sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
"@lib" "http://47.97.104.37"
registry "http://47.97.104.37:7001"
disturl "https://npm.taobao.org/dist"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
operadriver_cdnurl "http://cdn.npm.taobao.org/dist/operadriver"
fse_binary_host_mirror "https://npm.taobao.org/mirrors/fsevents"