.warp {

}

.header {
  height: 60px;
  line-height: 60px;

  .title {
    padding-left: 10px;
    color: #333;
    font-size: 18px;
    vertical-align: middle;
    border-left: 3px solid #333;
    cursor: default;
  }

  .btns {
    margin-left: 20px;
  }

  .msg {
    color: red;
  }
}

.content {
  margin-top: 70px;
}

.cascader {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.footer {
  margin-top: 200px;
  text-align: center;
}

.buttonCancel {
  margin-right: 15px;
}
